

NET "CLK" LOC = C9;


NET "CLK" IOSTANDARD = LVCMOS33;


NET "FE" LOC = F9;


NET "FE" IOSTANDARD = LVTTL;
NET "FE" DRIVE = 8;


NET "OE" LOC = E9;


NET "OE" IOSTANDARD = LVTTL;
NET "OE" DRIVE = 8;


NET "PE" LOC = D11;


NET "PE" IOSTANDARD = LVTTL;
NET "PE" DRIVE = 8;


NET "RST" LOC = K17;
NET "RXD" LOC = R7;


NET "RXD" IOSTANDARD = LVTTL;


NET "TXD" LOC = M14;


NET "TXD" IOSTANDARD = LVTTL;
NET "TXD" DRIVE = 8;
NET "RST" PULLDOWN;


NET "RD" LOC = D18;


NET "RD" IOSTANDARD = LVTTL;
NET "RD" PULLDOWN;


NET "WR" LOC = H13;


NET "WR" IOSTANDARD = LVTTL;
NET "WR" PULLDOWN;


NET "RDA" LOC = E12;


NET "RDA" IOSTANDARD = LVTTL;
NET "RDA" DRIVE = 8;
NET "RDA" SLEW = FAST;
NET "RST" IOSTANDARD = LVTTL;


NET "TBE" LOC = F12;


NET "TBE" IOSTANDARD = LVTTL;
NET "TBE" DRIVE = 8;
NET "TBE" SLEW = FAST;


NET "DBIN[7]" LOC = D5;


NET "DBIN[7]" IOSTANDARD = LVCMOS33;


NET "DBIN[6]" LOC = C5;


NET "DBIN[6]" IOSTANDARD = LVCMOS33;


NET "DBIN[5]" LOC = A6;


NET "DBIN[5]" IOSTANDARD = LVCMOS33;


NET "DBIN[4]" LOC = B6;


NET "DBIN[4]" IOSTANDARD = LVCMOS33;


NET "DBIN[3]" LOC = E7;


NET "DBIN[3]" IOSTANDARD = LVCMOS33;


NET "DBIN[2]" LOC = F7;


NET "DBIN[2]" IOSTANDARD = LVCMOS33;


NET "DBIN[1]" LOC = D7;


NET "DBIN[1]" IOSTANDARD = LVCMOS33;


NET "DBIN[0]" LOC = C7;


NET "DBIN[0]" IOSTANDARD = LVCMOS33;


NET "DBOUT[7]" LOC = F8;


NET "DBOUT[7]" IOSTANDARD = LVCMOS33;
NET "DBOUT[7]" DRIVE = 8;
NET "DBOUT[7]" SLEW = FAST;


NET "DBOUT[6]" LOC = E8;
NET "DBOUT[5]" LOC = A13;
NET "DBOUT[4]" LOC = B13;
NET "DBOUT[3]" LOC = A14;
NET "DBOUT[2]" LOC = B14;
NET "DBOUT[1]" LOC = C14;
NET "DBOUT[0]" LOC = D14;


NET "DBOUT[6]" IOSTANDARD = LVCMOS33;
NET "DBOUT[5]" IOSTANDARD = LVCMOS33;
NET "DBOUT[4]" IOSTANDARD = LVCMOS33;
NET "DBOUT[3]" IOSTANDARD = LVCMOS33;
NET "DBOUT[2]" IOSTANDARD = LVCMOS33;
NET "DBOUT[1]" IOSTANDARD = LVCMOS33;
NET "DBOUT[0]" IOSTANDARD = LVCMOS33;
NET "DBOUT[6]" DRIVE = 8;
NET "DBOUT[4]" DRIVE = 8;
NET "DBOUT[5]" DRIVE = 8;
NET "DBOUT[3]" DRIVE = 8;
NET "DBOUT[2]" DRIVE = 8;
NET "DBOUT[1]" DRIVE = 8;
NET "DBOUT[0]" DRIVE = 8;
NET "DBOUT[6]" SLEW = FAST;
NET "DBOUT[5]" SLEW = FAST;
NET "DBOUT[4]" SLEW = FAST;
NET "DBOUT[3]" SLEW = FAST;
NET "DBOUT[2]" SLEW = FAST;
NET "DBOUT[1]" SLEW = FAST;
NET "DBOUT[0]" SLEW = FAST;
